#message
{
    width: 1900px;    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 5px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    color: #68171b;
    font-size: 40px;
}

#outer1
{
    font-weight: bold;
    margin-left: 10px;
    float: left; 
    width: 90px;
    padding-left: 5px;    
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

#outer2 
{ 
    margin: 0px;
    float: left; 
    width: 300px;     
    padding-left: 5px; 
    padding-top: 10px;
    padding-bottom: 10px;    
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

#outer3
{ 
    margin: 10px;
    float: left; 
    width: 300px;     
    padding-left: 5px; 
    padding-top: 10px;
    padding-bottom: 10px;    
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

#outer4
{   
    margin: 10px;
    float: left; 
    width: 100px;
    padding-left: 5px; 
    padding-top: 10px;
    padding-bottom: 10px;
}
