body
{
	height: 900px;
    margin-right: -100px;
}

image.dz
{
    box-shadow: 0 0 2px black inset; 
    padding: 1px;
    text-align: center;   
    margin-bottom: 20px;
    display: block;        
}

